.product-form {
	margin: auto;
	max-width: 90%;
	width: 20rem;
}

.form-control {
	margin: 1rem 0;
}

.form-control label,
.form-control input {
	display: block;
	width: 100%;
}

.form-control input {
	border: 1px solid #b69f1e;
	border-radius: 2px;
	font: inherit;
}

button {
	background: white;
	border: 1px solid #703ece;
	border-radius: 3px;
	color: #703ece;
	cursor: pointer;
	font: inherit;
}

button:hover,
button:active {
	background: #703ece;
	color: white;
}
